* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url(images/photos/image-header.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  max-width: 1440px;
}

.boxmenu {
  display: flex;
  height: 56px;
  margin-top: 17px;
  margin-left: 40px;
  margin-right: 48px;
}

.logo {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.menuh {
  display: flex;
}

.services {
  margin-top: 16px;
  margin-right: 47px;
  margin-left: 47px;
}

.about {
  margin-top: 16px;
}

.project {
  margin-top: 16px;
}

.contact {
  margin-left: 47px;
  font-family: "Fraunces", serif;
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  width: 140px;
  transition: 0.4s;
}

.titleh {
  text-align: center;
  justify-content: space-between;
  margin-top: 105px;
  letter-spacing: 8.75px;
}

.arrow {
  width: 30px;
  height: auto;
  padding-top: 50px;
}

.burger {
  display: none;
}

/*.box1{
    display: flex;
    flex-direction: row;
    &__text{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 285px;
        margin-right: 110px;
        margin-left: 165px;
    }
    &__img{
        max-width: 100%;
    }
}

/*.box2{
    display: flex;
    flex-direction: row-reverse;
    &__text{
        border: 2px solid black;
        width: 339px;
        height: 143px;
        margin-top: 398px;
        margin-bottom: 59px;
        margin-left: 190px;
        margin-right: 190px;
        display: flex;
        flex-direction: column;
      }
    }
    &__img{
        flex:1;
        max-width: 100%;
        height: auto;
    }
}
*/
.box2 {
  display: flex;
  width: 100%;
  max-width: 1440px;
}
.box2__text {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: left;
  width: 50%;
  height: auto;
}
.box2__text2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-right: 110px;
  margin-left: 165px;
}
.box2__text2--second {
  margin-right: 165px;
  margin-left: 110px;
  width: 50%;
  height: auto;
}
.box2__title {
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
  line-height: 49.32px;
  letter-spacing: -0.29px;
}
.box2__p {
  text-align: left;
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.13px;
  margin-top: 32px;
  color: #808397;
}
.box2__learn {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 137px;
  text-transform: uppercase;
  font-family: "Fraunces";
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 40px;
  border-bottom: 10px solid rgba(250, 212, 0, 0.3);
  border-radius: 3px 5px;
  display: inline-block;
  height: 0.8em;
  transition: 0.4s;
}
.box2__learn2 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 137px;
  text-transform: uppercase;
  font-family: "Fraunces";
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 40px;
  border-bottom: 10px solid rgba(254, 119, 102, 0.3);
  border-radius: 3px 5px;
  display: inline-block;
  height: 0.8em;
  transition: 0.4s;
}
.box2__learn:hover {
  border-bottom: 10px solid rgb(250, 212, 0);
}
.box2__learn2:hover {
  border-bottom: 10px solid rgb(254, 119, 102);
}
.box2__img {
  width: 50%;
  height: auto;
}
.box2--first {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: auto;
}

.boxgp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
}
.boxgp__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 34.52px;
  text-align: center;
  letter-spacing: -0.2px;
  width: 100%;
}
.boxgp__p {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.11px;
  text-align: center;
  margin-top: 27px;
  width: 100%;
}
.boxgp__text {
  width: 339px;
  height: 143px;
  margin-top: 398px;
  margin-bottom: 59px;
  margin-right: 190px;
  margin-left: 191px;
}

.boxg {
  background-image: url(images/photos/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  color: #3E7467;
  flex-direction: column;
  width: 50%;
  height: auto;
}

.boxp {
  background-image: url(images/photos/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #19536C;
  flex-direction: column;
  width: 50%;
}

.box3 {
  display: flex;
  flex-direction: column;
}
.box3__content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 160px;
  margin-left: 65px;
  margin-right: 65px;
}
.box3__p {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.13px;
  text-align: center;
  color: #5B636D;
  margin-top: 58px;
}
.box3__name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 22.19px;
  letter-spacing: -0.13px;
  text-align: center;
  color: #24303E;
  margin-top: 69px;
}
.box3__job {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  text-align: center;
  margin-top: 9px;
}
.box3__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 24.66px;
  letter-spacing: 5px;
  text-align: center;
  color: #A7AAAD;
  margin-top: 160px;
}
.box3__img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-top: 81px;
}
.box3__pp {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.footerimg {
  display: flex;
  flex-direction: row;
}
.footerimg__content {
  width: 100%;
  height: 100%;
}
.footerimg__box {
  flex: 1;
}

footer {
  background-color: #90D4C6;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.logofooter {
  filter: brightness(0) saturate(100%) invert(38%) sepia(7%) saturate(3219%) hue-rotate(118deg) brightness(97%) contrast(85%);
  margin-top: 72px;
  margin-bottom: 40px;
  width: 170px;
  height: 33px;
}

.footermenu {
  margin-bottom: 88px;
}

.servicesf {
  margin-left: 47px;
  margin-right: 47px;
}

.insta {
  margin-left: 28px;
  margin-right: 28px;
}

.rsfooter {
  margin-bottom: 72px;
}

.twitter {
  margin-right: 28px;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 56px;
}

header a:link {
  text-decoration: none;
  color: white;
}

header a:visited {
  text-decoration: none;
  color: white;
}

header a, .boxmenu {
  justify-content: space-between;
  transition: 0.4s;
}

footer a {
  text-decoration: none;
  color: #458D7E;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 18px;
  transition: 0.4s;
}

footer a:hover {
  color: white;
}

.insta:hover, .facebook:hover, .twitter:hover, .pinterest:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7480%) hue-rotate(238deg) brightness(117%) contrast(100%);
}

button:hover {
  background-color: hsl(210, 59%, 64%);
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 475px) {
  body {
    background-color: lightblue;
  }
}/*# sourceMappingURL=style.css.map */